<%= content_for(:title) do %>
  Welcome <%= current_seller.name %>
<% end %>
<div class="Site-content">
  <h1>Welcome <%= current_seller.name%></h1>

  <h3>Click <%= link_to "here", pending_orders_seller_account_orders_path %> to see new orders for your products.</h3>

</div>

