<h1>My shop</h1>

<% @pictures.each do |pic| %>
  <%= image_tag pic.picture.url(:thumb) %>
  <%= link_to "delete", seller_account_picture_seller_path(pic), method: :delete,
      data: { confirm: "Are you sure?" } %>
<% end %>

<br>
<br>
<br>
<br>

<%= link_to "add a photo", new_seller_account_picture_seller_path %>
