Hello !!!
<br>
<h3>Your current product offer: </h3>
<% @product_groups.each do |product_group| %>
<%= product_group.name %>
<br>
<% end %>
<br>
<%= link_to "Add new product", new_seller_account_product_group_path, class: "btn btn-primary"%>
