<%= content_for(:title) do %>
  Commmande confirmée
<% end %>
<div class="Site-content">
<h3 class="text-center">Le fabricant a bien reçu votre commande</h3>
<h4 class="text-center">Vous pouvez la suivre <%= link_to "ici", users_bill_clients_path %></h4>
<br>
<div class="container">
  <div class="row">
    <div class="col-xs-0 col-sm-3">
    </div>
    <div class="col-xs-12 col-sm-6 text-center">
      <hr>
      <%= image_tag "sketch-factory.jpg"%>
      <hr>
    </div>
    <div class="col-xs-0 col-sm-3">
    </div>
  </div>
</div>
<h3 class="text-center">Merci</h3>
<br>
</div>
