<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Order details</h1>


      <p>Your total is: <%= number_to_currency_fr(@bill.amount) %> &euro;</p>



      <p>
        Your order details:
      </p>

      <ul>
        <% @bill.orders.each do |order| %>
          <% order.order_items.each do |item| %>
            <li>
              <%= "#{item.quantity} x #{item.product_ref.product_group.name} #{item.product_ref.color_name} at #{number_to_currency_fr(item.product_ref.price)}"%> &euro; each
            </li>
          <% end %>
        <% end %>
      </ul>

      <p><%= link_to "Pay", new_bill_client_payment_path(@bill), class: "btn btn-success" %></p>

      <h4>Address</h4>

      <p>Add an address if different from usual address</p>

    </div>
  </div>
</div>
