/* -------------------------------------
 * Base elements style (h1, h2, p, a, ul..)
 * ============= IMPORTANT =============
 * Before writing in this file, look if there is not
 * already a Bootstrap SCSS variable that does the same job
 * ------------------------------------- */

 #user {
  padding-top: 70px;
 }

 .img-home {
  top: 70px;
 }

 .img-selection {
  padding: 40px;
  margin: 20px;
 }

 .empty-basket {
  margin: 20px;
 }

 .text-panier {
  margin-left: 72px;
  padding-bottom: 20px;
 }
