/* -------------------------------------
 * Base elements style (h1, h2, p, a, ul..)
 * ============= IMPORTANT =============
 * Before writing in this file, look if there is not
 * already a Bootstrap SCSS variable that does the same job
 * ------------------------------------- */

 .Site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  .Site-content {
    flex: 1;
  }

 #user {
  padding-top: 70px;
 }

 .img-home {
  top: 70px;
 }

  .dropdown-font {
    color: gray;
    font-weight: 100 !important;
    font-size: 15px;

    hr {
      margin: 10px;
    }
  }

.btn {
  font-family: Lucida Grande;
  font-weight: 100;
}

.btn-facebook {
  background-color: #3b5998;
  color: white;
  width: 567px;
}

#btn-facebook-sign-in {
  background-color: #3b5998;
  color: white;
  width: 489px;;
}

#seller-btn {
  margin-top: 40px;
}

.seller-product-card {
  margin-top: 50px;
  margin-bottom: 50px;
}

#pencil-card-seller {
  position: absolute;
  top: 5%;
  right: 20%;
  font-size: 20px;
}

#delete-cross-seller {
  position: absolute;
  top: 12%;
  right: 20%;
  font-size: 20px;
}

#pencil-card-seller-ref {
  position: absolute;
  top: 13%;
  right: 18%;
  font-size: 20px;
}

#delete-cross-seller-ref {
  position: absolute;
  top: 20%;
  right: 18%;
  font-size: 20px;
}

#add-img-seller-ref {
  position: absolute;
  top: 27%;
  right: 53%;
  font-size: 20px;
}

.bin-card-seller {
  position: absolute;
  top: 3%;
  right: 29%;
  font-size: 20px;
}

#add-img-seller {
  position: absolute;
  top: 6%;
  right: 82%;
  font-size: 20px;
}

#seller-img-ref {
  padding-top: 20px;
}

#seller-reference-show {
  padding-left: 136px;
}

#sample-seller-show {
  position: absolute;
}

body {
  background-color: white;
}
  #img-opacity {
    opacity: 0.8;
    border-radius: 2px;
  }
  .padding-form {
    padding: 40px;
  }

 .empty-basket {
  margin: 20px;
 }
 .alert-basket-empty {
  color: $red;
 }

 #text-like-panier {
  margin-left: 72px;
  margin-right: 72px;
  padding-bottom: 40px;
 }

 .text-panier {
  margin-left: 72px;
  padding-bottom: 40px;
 }

 .position {
  position: relative;
 }

 .slider-item {
  position: relative;
 }

 .img-product-panier {
  padding-bottom: 20px;
 }

 .panier-card {
  margin-left: 71px;
 }

 #delete-panier {
  position: absolute;
  top: -1%;
  right: 16%;
  font-size: 20px;
 }

 #color-panier{
  position: absolute;
  top: 23%;
  right: 64%;
 }

 #text-color-panier {
  padding-top: 25px;
 }

 #text-price-panier {
  padding-top: 33px;
 }

#quantity-panier {
  position: absolute;
  top: 15%;
  right: 20%;
}

#delivery-panier {
  position: absolute;
  top: 27%;
  right: 46%;
}

#total-price-basket {
  position: absolute;
  top: 3%;
  right: 20%;
}

#promotion-panier {
  position: absolute;
  top: -4%;
  right: 76%;
}

#promotion-card-basket {
  background: rgba(50, 50, 50, 0.4);
  height: 70px;
  width: 70px;
  border-radius: 100%;
  color: white;
}

#promotion-basket {
  position: absolute;
  top: 31%;
  bottom: 0;
  left: 21%;
  right: 0;


  p {
    font-size: 18px;
  }
}

.show-sidebar {
  background-color: #F5F5F5;
  width: 360px;
  height: 600px;
  right: 0px;
  margin-top: 38px;
  border-radius: 4px;
}

.show-sidebar-title {
  margin-left: 47px;
  padding-top: 13px;
}
