/* -------------------------------------
 * Base elements style (h1, h2, p, a, ul..)
 * ============= IMPORTANT =============
 * Before writing in this file, look if there is not
 * already a Bootstrap SCSS variable that does the same job
 * ------------------------------------- */

 .Site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  .Site-content {
    flex: 1;
  }

 #user {
  padding-top: 70px;
 }

 .img-home {
  top: 70px;
 }

  .dropdown-font {
    color: gray;
    font-weight: 100 !important;
    font-size: 15px;

    hr {
      margin: 10px;
    }
  }

.btn {
  font-family: Lucida Grande;
  font-weight: 100;
}

.btn-facebook {
  background-color: #3b5998;
  color: white;
  width: 567px;
}

#btn-facebook-sign-in {
  background-color: #3b5998;
  color: white;
  width: 489px;;
}

#seller-btn {
  margin-top: 40px;
}

.seller-product-card {
  margin-top: 50px;
  margin-bottom: 50px;
}

#pencil-card-seller {
  position: absolute;
  top: 5%;
  right: 20%;
  font-size: 20px;
}

#delete-cross-seller {
  position: absolute;
  top: 12%;
  right: 20%;
  font-size: 20px;
}

#pencil-card-seller-ref {
  position: absolute;
  top: 3%;
  right: 15%;
  font-size: 20px;
}

#delete-cross-seller-ref {
  position: absolute;
  top: 15%;
  right: 15%;
  font-size: 20px;
}

#add-img-seller-ref {
  position: absolute;
  top: 30%;
  right: 38%;
  font-size: 20px;
}

.bin-card-seller {
  position: absolute;
  top: 3%;
  right: 29%;
  font-size: 20px;
}

#add-img-seller {
  position: absolute;
  top: 7%;
  right: 70%;
  font-size: 20px;
}

#seller-img-ref {
  padding-top: 20px;
}

#seller-reference-show {
  padding-left: 136px;
}

#sample-seller-show {
  position: absolute;
}

body {
  background-color: white;
}
  #img-opacity {
    opacity: 0.8;
    border-radius: 2px;
  }
  .padding-form {
    padding: 40px;
  }

 .empty-basket {
  margin: 20px;
 }
 .alert-basket-empty {
  color: $red;
 }

 #text-like-panier {
  margin-left: 72px;
  margin-right: 72px;
  padding-bottom: 40px;
 }

 .text-panier {
  margin-left: 72px;
  padding-bottom: 40px;
 }

 .position {
  position: relative;
 }

 .slider-item {
  position: relative;
 }

 .img-product-panier {
  padding-bottom: 20px;
 }

 .panier-card {
  margin-left: 71px;
 }

 #delete-panier {
  position: absolute;
  top: -1%;
  right: 16%;
  font-size: 20px;
 }

 #color-panier{
  position: absolute;
  top: 23%;
  right: 64%;
 }

 #text-color-panier {
  padding-top: 25px;
 }

 #text-price-panier {
  padding-top: 33px;
 }

#quantity-panier {
  position: absolute;
  top: 15%;
  right: 20%;
}

#delivery-panier {
  position: absolute;
  top: 27%;
  right: 46%;
}

#total-price-basket {
  position: absolute;
  top: 3%;
  right: 20%;
}

#promotion-panier {
  position: absolute;
  top: -4%;
  right: 76%;
}

#promotion-card-basket {
  background: rgba(50, 50, 50, 0.4);
  height: 70px;
  width: 70px;
  border-radius: 100%;
  color: white;
}

#promotion-basket {
  position: absolute;
  top: 31%;
  bottom: 0;
  left: 21%;
  right: 0;


  p {
    font-size: 18px;
  }
}

.show-sidebar {
  border: 1px solid #f2f2f2;
  box-shadow: 1px 1px 2px #f2f2f2;
  width: 360px;
  height: 539px;
  right: 0px;
  margin-top: 38px;
  border-radius: 4px;
  margin-left: 40px;
}

.card-show {
  border: 1px solid #f2f2f2;
  box-shadow: 1px 1px 2px #f2f2f2;
  width: 553px;
  height: 470px;
  border-radius: 4px;
  padding-left: 53px;
  padding-top: 15px;
  margin-top: 54px;
  margin-bottom: 54px;
}

.card-show-right {
  border: 1px solid #f2f2f2;
  box-shadow: 1px 1px 2px #f2f2f2;
  width: 553px;
  height: 470px;
  border-radius: 4px;
  padding-left: 53px;
  padding-top: 15px;
  margin-top: 54px;
  margin-bottom: 54px;
  margin-left: 39px;
}

.show-sidebar-title {
  margin-left: 47px;
  margin-right: 47px;
  padding-top: 13px;
}

.show-sidebar-quantity {
  padding-top: 15px;
}

.price-tag {
  color: #606060;
  margin-top: 20px;
}

.btn-show-ref {
  background-color: #c9c9c9;
  height: 83px;
  width: 300px;
  margin-left: -14px;
  margin-top: 10px;
  color: white;
  font-size: 21px;
  &:hover {
    background-color: white;
    color: #adabab;
    border: 1px solid #adabab;
  }

}

.btn-order {
  padding-top: 25px;
  background-color: #c9c9c9;
  height: 83px;
  width: 300px;
  margin-left: -14px;
  margin-top: 10px;
  color: white;
  font-size: 21px;
  &:hover {
    background-color: white;
    color: #adabab;
    border: 1px solid #adabab;
  }

}

.btn-bill {
  padding-top: 10px;
  background-color: #c9c9c9;
  height: 83px;
  width: 300px;
  margin-left: -14px;
  margin-top: 10px;
  color: white;
  font-size: 21px;
  &:hover {
    background-color: white;
    color: #adabab;
    border: 1px solid #adabab;
  }

}

.show-thumbnails {
  border: 1px solid #f2f2f2;
  margin: 10px;
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 75px;
  padding-bottom: 20px;
}

.show-thumb-active {
  border: 2px solid #aad4e5;
}

.product-large-img {
  margin-left: 20px;
}

.all-thumbs-show {
  margin-top: 40px;
}

.card-orders-admin {
  border: 1px solid #f2f2f2;
  box-shadow: 1px 1px 2px #f2f2f2;
  width: 553px;
  border-radius: 4px;
  padding-left: 53px;
  padding-right: 53px;
  padding-top: 15px;
  margin-top: 54px;
  margin-bottom: 54px;
}

.sidebar-orders-admin {
  list-style: none;
}

#sidebar-wrapper-orders {
  z-index: 1;
  position: fixed;
  top: 0px;
  padding-top: 150px;
  left: 250px;
  width: 250px;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: rgba(255, 255, 255, 0.7);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  padding-left: 10px;
}

#padding-title-sidebar {
  padding-left: 40px;
}
