// Your footer style

#footer {
  background-color: #aad4e5;
  font-size: 15px;
  // padding-left: 200px;
  a {
    color: black;
    &:hover {
      color: rgb(100, 100, 100);
      transition: ease 0.3s;
    }
  }
}

#padded-li {
  padding-right: 30px;
}

