// Your footer style

#footer {
  background-color: rgba(250, 250, 250, 0.3);
  border-top: 1px dotted #f2f2f2;
  font-size: 15px;
  // padding-left: 200px;
  a {
    color: #848383;
    &:hover {
      color: #cd843c;
      transition: ease 0.3s;
    }
  }
}

#padded-li {
  padding-right: 30px;
  font-size: 23px;
}

#text-footer {
  font-family: $header-font;
  font-size: 17px;
  padding-top: 12px;
  color: #848383;
}

