// Your footer style

#footer {
  z-index: 0;
  background-color: rgb(255, 255, 255);
  border-top: 1px dotted #9d9d9d;
  font-size: 15px;
  // padding-left: 200px;
  a {
    color: #848383;
    &:hover {
      color: #cd843c;
      transition: ease 0.3s;
    }
  }
}

#padded-li {
  padding-right: 30px;
  font-size: 23px;
}

.text-footer {
  font-family: $header-font;
  font-size: 17px;
  padding-top: 12px;
  color: #848383;
  padding-right: 168px;
}

.text-footer-links {
  font-family: $header-font;
  font-size: 17px;
  padding-top: 12px;
  color: #848383;
  padding-right: 0px;
}

