#sidebar-wrapper {
    z-index: 1;
    position: fixed;
    top: 0px;
    padding-top: 150px;
    left: 250px;
    width: 250px;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: rgba(255, 255, 255, 1);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    padding-left: 50px;
    border: 1px dotted #9d9d9d;
    box-shadow: 0.5px 0.5px 0.5px #f2f2f2;
}

#style-moderne {
    position: fixed;
    top: 186px;
    left: 30px;
    font-size: 12px;
    color: #000066;
}

#style-classique {
    position: fixed;
    top: 208px;
    left: 30px;
    font-size: 12px;
    color: #000066;
}

#style-suedois {
    position: fixed;
    top: 230px;
    left: 30px;
    font-size: 12px;
    color: #000066;
}

#style-enfant {
    position: fixed;
    top: 252px;
    left: 30px;
    font-size: 12px;
    color: #000066;
}

#style-min-0 {
    position: fixed;
    top: 372px;
    left: 30px;
    font-size: 12px;
    color: #000066;
}

#style-min-100 {
    position: fixed;
    top: 394px;
    left: 30px;
    font-size: 12px;
    color: #000066;
}

#style-min-500 {
    position: fixed;
    top: 416px;
    left: 30px;
    font-size: 12px;
    color: #000066;
}

#style-min-1000 {
    position: fixed;
    top: 438px;
    left: 30px;
    font-size: 12px;
    color: #000066;
}

#style-min-2000 {
    position: fixed;
    top: 460px;
    left: 30px;
    font-size: 12px;
    color: #000066;
}
