/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */
.padded {
  padding-top: 8em;
  padding-bottom: 8em;
}
.half-padded {
  padding-top: 4em;
  padding-bottom: 4em;
}
.padded-bottom {
  padding-bottom: 8em;
}
.bg-red {
  background: $red;
  color: white;
}
.bg-blue {
  background: $blue;
  color: white;
}
.bg-yellow {
  background: $yellow;
  color: white;
}
.bg-orange {
  background: $orange;
  color: white;
}
.bg-green {
  background: $green;
  color: white;
}
.bg-purple {
  background: $purple;
  color: white;
}

.white-card {
  position: relative;
  background-color: white;
  border-radius: 2px;
  border: 1px solid rgba(100, 100, 100, 0);
  padding: 30px;
  margin-top: 20px;
  margin-bottom: 50px;
}

#bin-card {
  position: absolute;
  background: rgba(50, 50, 50, 0.8);
  height: 30px;
  width: 30px;
  border-radius: 100%;
  top: 190px;
  bottom: 0px;
  left: 150px;
  right: 0px;
  color: white;
}

.sample-image{
    border: 2px solid white;
    box-shadow: 0 0 2px rgb(200, 200, 200);
    border-radius: 100%;
  }

#bin {
  position: absolute;
  top: 3px;
  bottom: 0px;
  left: 0px;
  right: 0px;
    a {
    color: white;
  };
    a:hover {
    color: yellow;
  }
}

#delete-cross {
  position: absolute;
  height: 30px;
  width: 30px;
  top: -13%;
  bottom: 0px;
  left: 99%;
  right: 0px;
  font-size: 35px;
    a {
    color: black;
  };
    a:hover {
    color: red;
  }
}

.photo-card {
  position: relative;
  background-color: white;
  border-radius: 2px;
  border: 1px solid rgba(100, 100, 100, 0);
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#pencil {
  position: absolute;
  height: 30px;
  width: 30px;
  top: 3px;
  bottom: 0px;
  left: 0px;
  right: 0px;
    a {
    color: white;
  };
    a:hover {
    color: yellow;
  }
}

#pencil-card {
  position: absolute;
  background: rgba(50, 50, 50, 0.8);
  height: 30px;
  width: 30px;
  border-radius: 100%;
  top: 5%;
  bottom: 0px;
  left: 99%;
  right: 0px;
  color: white;
}

.bg-image-cover {
  background-size: cover;
}

.background-home {
  background-image: asset-url("large-sofa-thonet.jpg");
  background-size: cover;
}

.img-relative {
  position: relative;
  padding: 40px 0px;
  margin: 20px 0px;
}

.legend-absolute {
  position: absolute;
  top: 40px;
  bottom: 0px;
  left: 25%;
  right: 0px;
  height: 40px;
  width: 50%;
  border: 1px solid rgb(220, 220, 220);
  color: rgb(80, 80, 80);
  background-color: rgba(255, 255, 255, 1)
}

.s25-font {
  font-size: 25px;
}

.s13-font {
  font-size: 13px;
}

#promotion-card {
  position: absolute;
  background: rgba(50, 50, 50, 0.4);
  height: 40px;
  width: 40px;
  border-radius: 100%;
  color: white;
  font-size: 12px;
}

#promotion {
  position: absolute;
  top: 28%;
  bottom: 0;
  left: 10%;
  right: 0;
}

#product-index-card {
  position: relative;
}


