/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */
.padded {
  padding-top: 8em;
  padding-bottom: 8em;
}
.half-padded {
  padding-top: 4em;
  padding-bottom: 4em;
}
.padded-bottom {
  padding-bottom: 8em;
}
.bg-red {
  background: $red;
  color: white;
}
.bg-blue {
  background: $blue;
  color: white;
}
.bg-yellow {
  background: $yellow;
  color: white;
}
.bg-orange {
  background: $orange;
  color: white;
}
.bg-green {
  background: $green;
  color: white;
}
.bg-purple {
  background: $purple;
  color: white;
}

.white-card {
  background-color: white;
  border-radius: 2px;
  border: 1px solid rgba(100, 100, 100, 0);
  padding: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#bin-card {
  position: absolute;
  background: rgba(50, 50, 50, 0.2);
  height: 30px;
  width: 30px;
  border-radius: 100%;
  top: 190px;
  bottom: 0px;
  left: 150px;
  right: 0px;
  color: black;
}

#bin {
  position: absolute;
  top: 3px;
  bottom: 0px;
  left: 0px;
  right: 0px;
    a {
    color: black;
  };
    a:hover {
    color: red;
  }
}

.photo-card {
  position: relative;
  background-color: white;
  border-radius: 2px;
  border: 1px solid rgba(100, 100, 100, 0);
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}
