<h1>ProductGroups#index</h1>
<p>Find me in app/views/product_groups/index.html.erb</p>
<% @product_groups.each do |pg| %>
  <%= link_to pg.name, product_group_path(pg) %>
  <%= pg.description %>
<% end %>
