<h1>All my orders</h1>
<ul>
<% current_user.bill_clients.each do |bill| %>
  <li>
    <%= "Bill number: #{bill.id}" %>
    <ul>
      <li>
        <%= "Total price: #{number_to_currency_fr(bill.amount)}" %> &euro;
      </li>
      <li>
        <%= "Date: #{l bill.created_at.in_time_zone('Paris')}" %>
      </li>
      <li>
        <% if bill.sent? %>
          Status: envoyee <i class="fa fa-check"></i>
        <% else %>
          Statut: en cours de traitement <i class="fa fa-truck"></i>
        <% end %>
      </li>
      <li>
        <%= link_to "See more details", users_bill_client_path(bill) %>
      </li>
    </ul>
  </li>
<% end %>
</ul>
